<% if !current_user || not_seller_item(item.id)%>
  <% if item.in_stock %>
    <div class="mt-auto item-btn-padding">
    <%= button_to items_add_to_cart_path(id: item.id), class:"btn btn-sm btn-block btn-primary add-to-cart-btn", id: "item_#{item.id}" do%>
    <%= add_to_cart_w_check_mark(item.id).html_safe %>
    <% end %>
      </div>
  <% else %>
    <div class="mt-auto text-center">
      <div class="out-of-stock">Out of stock</div>
    </div>
  <% end %>
<% elsif current_user && item.user_id == current_user.id %>
  <div class="mt-auto item-btn-padding">
    <div class="edit-btn"> <%= button_to "Edit Item", edit_item_path(item), method: "get", class:"btn btn-sm btn-block btn-primary"%></div>
    <div class="delete-btn"> <%= button_to "Delete Item", item_path(item), method: "delete", data: {confirm: "Are you sure?"}, class:"btn btn-sm btn-block btn-primary"%></div>
  </div>  
<% end %>