<% if user_or_item.errors.any? %>
  <div id='error_explaination' style="display: inline;">
    <p>The form contains <%= pluralize(user_or_item.errors.count, "error") %></p>
    <ul>
      <% user_or_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>