<div class="container">
  <% if @items.empty? && @view_my_items %>
    You have no items for sale at the moment
  <% elsif @items.empty? %>
    Unable to find the item you're looking for
  <% else %>
    <% @items.each do |item|%>
      <%= link_to item.name, item_path(item) %><br>
      <% if !current_user || not_seller_item(item.id)%>
        <% if item.in_stock %>
          <%= button_to "Add to cart", items_add_to_cart_path(id: item.id, :redirect_to => cart_path), method: "post", class:"btn btn-sm btn-block btn-primary"%>
        <% else %>
          Out of stock<br>
        <% end %>
      <% elsif current_user && item.user_id == current_user.id %>
        <%= button_to "Edit item", edit_item_path(item), method: "get", class:"btn btn-sm btn-block btn-primary"%>
      <% end %>
    <% end %>
  <% end %>
</div>
