<div><i class="fas fa-user fa-lg"></i> Jenny Lor </div>
{{#review}}
<div class="users-rating"> {{#times rating}}<span><i class="fas fa-star" style="color:orange"></i></span>{{/times}}</div>
<div> {{created_at}}</div>
<div> {{comment}}</div>
{{/review}}