/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.carousel {
  width: 100%;
  padding-top: 25px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}

.carousel-inner{
  width:100%;
  max-height: 300px !important;
}

.carousel img {
  max-height: 300px;
  margin: 0 auto;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

.index-content a, .btn a {
  text-decoration:none
}

.brand-margin {
  margin-top: 27px;
}

.sign-up-margin {
  margin-top: 12px;
  margin-bottom: -8px;
}

.signin-margin {
  margin-top: 12px;
  margin-bottom: 15px;
}

.fb-signin-padding {
  padding-top: -5px;
}

#show-image-info {
  margin-top: 45px;
}

.price {
  font-weight: bold;
  font-size: 17px;
}

.small-image {
  display: block;
}

.shipped-items {
  color: green;
}

.unshipped-items {
  color: #854331;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.condition-new {
  background: green;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.condition-used {
  background: #b42f0e;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.instock {
  color: green;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
}


.out-of-stock {
  color: #b42f0e;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
}

.shorter-btn {
  width: 200px;
  margin-bottom: 5px;
}

.card {
  margin-bottom: 30px;
}

.latest-products {
  margin-top: 155px;
}

.margin-top {
  margin-top: 25px;
}

.stars-color {
  color: #ffb800;
}

.navbar-brand h3 {
  display: inline-block;
  margin-top: -7px;
  margin-bottom: -7px;
}

.top-bottom-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-item-msg {
  margin-top: 12px;
  margin-bottom: -10px;
}

footer a {
  text-decoration:none;
  color: white;
}

footer a:hover {
  text-decoration:none;
  color: gray;
}

footer {
  padding-top: 50px;
}

.footer-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

@media (min-width: 576px) and (max-width: 767px) {
  .slide-box image_tag {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .slide-box image_tag {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .li-items-padding {
    padding-left: 60px;
  }

  .cart-items-padding {
    padding-left: 75px;
  }
  
}

@media (min-width: 992px) {
  .slide-box image_tag {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .li-items-padding {
    padding-left: 40px;
  }

  .cart-items-padding {
    padding-left: 60px;
  }
}

@media (min-width: 1200px) {
  .li-items-padding {
    padding-left: 25px;
  }

  .cart-items-padding {
    padding-left: 50px;
  }
}