/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require nav_bars
 *= require rating_and_stars
 *= require reviews
 *= require items_and_images
 */


/*** Select tag ***/
select {
  background-color: white;
  border-radius:3px;
}

selectBox {
  border-radius:3px;
}

.select-quantity {
  width: 60px;
}

.error-msg {
  color: red;
}

.display-cart-r-margin {
  margin-left: 15px;
  margin-right: 14px;
}

#sidepanel .dropdown-item{
  color: rgb(56, 56, 56);
  width: 238px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.sidepanel {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 2; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 10px; 
  transition: 0.5s; 
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: rgb(233, 233, 233);
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  cursor: pointer;
}
 
/*** Media ***/
@media (max-width: 575px) {

  .md-sc-cart {
    display: none;
  }

  .lg-sc-cart {
    display:none;
  }

  .top-nav {
    flex-direction: column;
  }

  .brand-column {
    flex: 24%;
  }
  .search-column {
    flex: 57%;
    margin-right: -5px;
  }
  .cart-column {
    flex: 10%;
    margin-right: -55px;
  }

  .search-term-column {
    flex: 35%;
    margin-right: 3px;
  }
  .search-category-column {
    flex: 30%;
    margin-right: 3px;
  }
  .search-button-column {
    flex: 9%;
    margin-right: 3px;
  }

  .brand-row .navbar-toggler {
    margin-left: auto;
    margin-bottom: -8px;
    margin-right: -18px;
  }

  .brand-row .top-cart {
    margin-right: -10px;
  }

  nav {
    display: none;
  }

  .item-info-margin {
    margin-top: 7px;
  }

  .item-info-margin hr {
    margin-top: 7px;
  }

  .flex-button {
    max-width: 767px;
    flex-basis: auto; 
    flex-grow: 1;
  }

  .flex-review-txt-area {
    max-width: 767px;
    flex-basis: auto; 
    flex-grow: 1;
  }

  .cart-price-col {
    flex: 100%;
    margin-left: -15px;
    margin-right: -15px;
  }

  .cart-items-col {
    flex: 100%;
  }

  nav {
    display: none !important;
  }

  .footer-meta {
    margin-bottom: 30px;
  }

  .footer-about-us {
    margin-bottom: 30px;
  }

  .footer-help {
    margin-bottom: 30px;
  }
  
}

@media (min-width: 576px) and (max-width: 767px) {
  .slide-box image_tag {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sm-sc-cart {
    justify-content: flex-end;
  }

  .md-sc-cart {
    display: none;
  }

  .lg-sc-cart {
    display:none;
  }

  .top-nav {
    flex-direction: column;
  }

  .top-cart{
    display: inline-block;
  }

  .brand-row .navbar-toggler {
    margin-left: auto;
    margin-bottom: -8px;
  }

  .brand-row .top-cart {
    margin-right: -10px;
  }

  .item-info-margin {
    margin-top: 7px;
  }

  .item-info-margin hr {
    margin-top: 7px;
  }

  .flex-button {
    max-width: 767px;
    flex-basis: auto; 
    flex-grow: 1;
  }

  .flex-review-txt-area {
    max-width: 767px;
    flex-basis: auto; 
    flex-grow: 1;
  }

  .cart-price-col {
    flex: 100%;
    margin-left: -15px;
    margin-right: -15px;
  }

  .cart-items-col {
    flex: 100%;
  }

  nav {
    display: none !important;
  }

}


@media (min-width: 768px) and (max-width: 991px) {
  .slide-box image_tag {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .li-items-padding {
    padding-left: 60px;
  }

  .cart-items-padding {
    padding-left: 75px;
  }

  .nopadding {
    padding: 1px !important;
    margin: 1px !important;
  }

  .search-form-margin{
    margin-right: 37px;
  }

  .sm-sc-cart {
    display: none;
  }

  .lg-sc-cart {
    display:none;
  }

  .top-cart{
    display: inline-block;
  }

  .brand-column {
    flex: 24%;
  }
  .search-column {
    flex: 57%;
    margin-right: -5px;
  }
  .cart-column {
    flex: 10%;
    margin-right: -55px;
  }

  .search-term-column {
    flex: 35%;
    margin-right: 3px;
  }
  .search-category-column {
    flex: 30%;
    margin-right: 3px;
  }
  .search-button-column {
    flex: 9%;
    margin-right: 3px;
  }

  .brand-row .navbar-toggler {
    margin-left: auto;
    margin-bottom: -8px;
  }

  .item-info-margin {
    margin-top: -4px;
  }

  .flex-button {
    max-width: 200px;
    flex-basis: auto; 
    flex-grow: 1;
  }

  .flex-review-txt-area {
    max-width: 767px;
    flex-basis: auto; 
    flex-grow: 1;
  }

  .cart-price-col {
    flex: 23%;
    margin-left: 30px;
    margin-right: -20px;
  }

  .cart-items-col {
    flex: 65%;
  }

  nav {
    display: none !important;
  }

  .top-nav-container {
    margin-top: 5px;
    margin-bottom: 8px;
  }

  .carousel {
    padding-top: 3px;
  }

  .notice-msg {
    margin-bottom: 20px; 
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .li-items-padding {
    padding-left: 40px;
  }

  .slide-box image_tag {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .cart-items-padding {
    padding-left: 60px;
  }

  .nopadding {
    padding: 1px !important;
    margin: 1px !important;
  }

  .navbar-toggler {
    display: none;
  }

  .search-form-margin{
    margin-right: 8px;
    justify-content: flex-end;
  }

  .sm-sc-cart {
    display: none;
  }

  .cart-column {
    display: none;
  }

  .brand-column {
    flex: 10%;
  }
  .search-column {
    flex: 85%;
    margin-right: -19px;
  }

  .search-term-column {
    flex: 60%;
    margin-right: 3px;
  }
  .search-category-column {
    flex: 25%;
    margin-right: 3px;
  }
  .search-button-column {
    flex: 9%;
    margin-right: 3px;
  }

  .item-info-margin {
    margin-top: -4px;
  }

  .flex-button {
    max-width: 200px;
    flex-basis: auto; 
    flex-grow: 1;
  }

  .flex-review-txt-area {
    max-width: 300px;
    flex-basis: auto; 
    flex-grow: 1;
  }

  .cart-price-col {
    flex: 23%;
    margin-left: 30px;
    margin-right: -16px;
  }

  .cart-items-col {
    flex: 65%;
  }
  
  #sidepanel, #overlay {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .slide-box image_tag {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .li-items-padding {
    padding-left: 25px;
  }

  .cart-items-padding {
    padding-left: 50px;
  }

  .sm-sc-cart {
    display: none;
  }

  .nopadding {
    padding: 1px !important;
    margin: 1px !important;
  }

  .navbar-toggler {
    display: none;
  }

  .search-form-margin{
    margin-right: -5px;
    justify-content: flex-end;
  }

  .cart-column {
    display: none;
  }

  .brand-column {
    flex: 7%;
  }
  .search-column {
    flex: 85%;
    margin-right: -19px;
  }

  .search-term-column {
    flex: 65%;
    margin-right: 3px;
  }
  .search-category-column {
    flex: 25%;
    margin-right: 3px;
  }
  .search-button-column {
    flex: 9%;
    margin-right: 3px;
  }

  .item-info-margin {
    margin-top: -4px;
  }

  .flex-button {
    max-width: 200px;
    flex-basis: auto; 
    flex-grow: 1;
  }

  .flex-review-txt-area {
    max-width: 300px;
    flex-basis: auto; 
    flex-grow: 1;
  }

  .cart-price-col {
    flex: 19%;
    margin-right: -15px;
    margin-left: 33px;
  }

  .cart-items-col {
    flex: 70%;
  }

  #sidepanel, #overlay {
    display: none !important;
  }

}

